Source: python-pingpong
Maintainer: Diego Souza <dsouza+pingpong@bitforest.org>
Section: python
Priority: optional
Build-Depends: cdbs, debhelper (>= 7.0.50~), python-setuptools
Standards-Version: 3.9.1

Package: python-pingpong
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-twisted, python-twisted-conch, python-crypto (>= 2.1.0)
Description: A library for quickly creating line-based interactive programs
   This has been created to provide a mechanism to test programs using =expect=. We are using it to create phony interfaces that although do nothing, provide the same interface as the real device. This allows us to test these applications easily.
   Besides, special care has been taken to be able to use different protocols. Currently there is a /TTY/ and /SSH/ backends. The later makes use of =twisted=, so it should be fairly simple to add other protocols.

